{% extends 'master.html' %}
{% block title %}添加新实例{% endblock %}

{% block body %}
    <form action="/hostsadd/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <!--此处errors如果不是form提交则不会生成！！！-->
            {{ obj.hostname.label }}{{ obj.hostname }}<span>{{ obj.errors.hostname.0 }}</span>
        </div>
        <div class="form-group">
            {{ obj.ip.label }}{{ obj.ip }}<span>{{ obj.errors.ip.0 }}</span>
        </div>
        <div class="form-group">
            {{ obj.port.label }}{{ obj.port }}<span>{{ obj.errors.port.0 }}</span>
        </div>
        <input type="submit" value="提交" class="btn btn-default" id="edit_hostinfo">
        <input type="button" value="返回主机列表" class="btn btn-default" id="return_hosts">
    </form>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#return_hosts').click(function () {
                location.href = '/hosts/'
            })
        })
    </script>
{% endblock %}

